<div class="container-navbar">
    <ul>
        <li className="list active">
            <span className="text">Inicio</span>
        </li>
        <li className="list">
            <span className="text">Carreras</span>
        </li>
        <li className="list">
            <span className="text">Cursos</span>
        </li>
        <li className="list">
            <span className="text">Materias</span>
        </li>
        <li className="list">
            <span className="text">Usuario</span>
        </li>
    </ul>
</div>