.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu   main   main   main   main   main';
}

.grid-header {
    grid-area: header;
    background-color: aqua;
    border: 2px solid black;
}

.grid-menu {
    grid-area: menu;
    background-color: rgb(149, 187, 220);
    border: 2px solid black;
}

.grid-student {
    grid-area: main;
    background-color: rgb(105, 185, 255);
    border: 2px solid black;
}